<h2>ユーザー一覧</h2>

<% @customers.each do |customer| %>
  <div>ニックネーム：</div>
  <%= link_to customers_info_path(customer.id) do %>
    <h4><%= customer.nickname %></h4>
  <% end %>
  <tr>
    <%= link_to followings_customer_path(customer.id) do %>
    <th>フォロー：</th>
    <td><%= customer.followings.count %></td>
    <% end %>
  </tr>
  <tr>
    <%= link_to followers_customer_path(customer.id) do %>
    <th>フォロワー：</th>
    <td><%= customer.followers.count %></td>
    <% end %>
  </tr>
<% end %>
