<div class="container p-5">
  <div class="row ml-4">
    <h2 class="mb-3">ユーザー詳細</h2>
  </div>

  <div class="row mb-1 ml-5 mr-5">
    <table class="table table-bordered">
      <tr>
        <th class="table-dark" style="width: 200px;">ニックネーム</th>
        <td><%= @customer.nickname %></td>
      </tr>
      <tr>
        <th class="table-dark">自己紹介</th>
        <td><%= @customer.introduction %></td>
      </tr>
      <tr>
        <th class="table-dark">フォロー</th>
        <td>
          <%= link_to followings_customer_path(@customer) do %>
            <%= @followings.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="table-dark">フォロワー</th>
        <td>
          <%= link_to followers_customer_path(@customer) do %>
            <%= @followers.count %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row ml-5">
    <% if @customer != current_customer %>
      <% if current_customer.following?(@customer) %>
        <%= link_to 'フォロー外す', customer_relationships_path(@customer), method: :delete, class: "btn btn-lg btn-outline-danger" %>
      <% else %>
        <%= link_to 'フォローする', customer_relationships_path(@customer), method: :POST, class: "btn btn-lg btn-outline-success" %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= render 'customer/games/index', games: @games %>
  </div>
</div>
