<h2>My Page</h2>

<table class="table">
  <tr>
    <th>名前</th>
    <td><%= @customer.last_name %><%= @customer.first_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
  </tr>
  <tr>
    <th>ニックネーム</th>
    <td><%= @customer.nickname %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= @customer.introduction %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <th>フォロー：</th>
    <td>
      <%= link_to followings_customer_path(@customer) do %>
      <%= @followings.count %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>フォロワー：</th>
    <td>
      <%= link_to followers_customer_path(@customer) do %>
      <%= @followers.count %>
      <% end %>
    </td>
  </tr>
</table>

<% if @customer == current_customer %>
<p><%= link_to "プロフィール編集", customers_information_edit_path(@customer) %></p>
<% end %>

<h3>投稿一覧</h3>
<% @games.each do |game| %>
  <%= link_to @customers_my_page_path do %>
  <p>ニックネーム：<%= game.customer.nickname %></p>
  <% end %>
  <%= link_to game_path(game.id) do %>
  <p>タイトル：<%= game.game_title %></p>
    <% end %>
  <p><%= link_to "#{game.post_comments.count} コメント", game_path(game.id) %></p>
<% end %>

<h3>いいね一覧</h3>
<% if @favorite_list.present? %>
  <% @favorite_list.each do |game| %>
    <%= link_to game_path(game.id) do %>
      <%= game.game_title %>
    <% end %>
  <% end %>
<% else %>
  <p>いいねした投稿はありません</p>
<% end %>
