<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2 class="mt-3">マイページ</h2>

      <table class="table table-bordered">
        <tr>
          <th class="table-primary" style="width: 140px;">名前</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-primary">フリガナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-primary">ニックネーム</th>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <th class="table-primary">自己紹介</th>
          <td><%= @customer.introduction %></td>
        </tr>
        <tr>
          <th class="table-primary">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th class="table-primary">フォロー</th>
          <td>
            <%= link_to followings_customer_path(@customer), class: "text-decoration-none" do %>
              <%= @followings.count %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="table-primary">フォロワー</th>
          <td>
            <%= link_to followers_customer_path(@customer), class: "text-decoration-none" do %>
              <%= @followers.count %>
            <% end %>
          </td>
        </tr>
      </table>

      <% if @customer == current_customer %>
      <div>
        <%= link_to "プロフィール編集", customers_information_edit_path(@customer), class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <%= render 'customer/games/new', game: @game %>
    </div>
  </div>

  <div class="row mt-5 mb-5">
  <div class="col-md-6">
    <h3>投稿一覧</h3>
    <ul class="list-group">
      <% @games.each do |game| %>
        <li class="list-group-item">
          <%= link_to game_path(game.id) do %>
            <h5 class="mb-1">タイトル：<%= game.game_title %></h5>
          <% end %>
          <p class="mb-0"><%= link_to "#{game.post_comments.count} コメント", game_path(game.id) %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>いいねした投稿</h3>
    <% if @favorite_list.present? %>
      <ul class="list-group">
        <% @favorite_list.each do |game| %>
          <li class="list-group-item">
            <%= link_to customers_info_path(game.customer.id), class: "text-decoration-none" do %>
              <p class="mb-0">ニックネーム：<%= game.customer.nickname %></p>
            <% end %>
            <%= link_to game_path(game.id), class: "text-decoration-none" do %>
              <h5 class="mb-1"><%= game.game_title %></h5>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>いいねした投稿はありません</p>
    <% end %>
  </div>
</div>


</div>