<div class="container">
  <div class="mt-4">
    <h2>新規会員登録</h2>
  </div>
  <%= form_with model: @customer, url: customer_registration_path do |f| %>
    <%= render "customer/shared/error_messages", resource: resource %>

    <div class="row mt-5">
      <div class="col-md-2">
        <label class="form-label">名前</label>
      </div>
      <div class="col-md-4">
        <%= f.text_field :last_name, autofocus: true, placeholder: "姓", autocomplete: "last_name", class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :first_name, placeholder: "名", autocomplete: "first_name", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label class="form-label">フリガナ</label>
      </div>
      <div class="col-md-4">
        <%= f.text_field :last_name_kana, placeholder: "セイ", autocomplete: "last_name_kana", class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :first_name_kana, placeholder: "メイ", autocomplete: "first_name_kana", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label class="form-label">ニックネーム</label>
      </div>
      <div class="col-md-4">
        <%= f.text_field :nickname, placeholder: "ニックネーム", autocomplete: "nickname", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label class="form-label">自己紹介</label>
      </div>
      <div class="col-md-8">
        <%= f.text_area :introduction, placeholder: "好きなゲームetc...", autocomplete: "nickname", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label class="form-label">メールアドレス</label>
      </div>
      <div class="col-md-4">
        <%= f.email_field :email, placeholder: "test@test.com", autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label class="form-label">パスワード</label><br>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label class="form-label">パスワード(確認用)</label>
      </div>
      <div class="col-md-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="offset-2">
        <%= f.submit "新規登録", class: "btn btn-outline-success btn-lg ml-3 mt-3" %>
      </div>
    </div>
  <% end %>

  <div class="mt-5 mb-5">
    <h3>仲間になった覚えがある？</h3>
    <h4>
      <strong><%= link_to "➤こちら", new_customer_session_path, class: "text-light" %> </strong>から確認してみよう。
    </h4>
  </div>
</div>
