<div class="container pl-5 pr-5 pb-5">
  <div class="row mt-3 ml-3">
    <h2>ユーザー詳細</h2>
  </div>

  <div class="row mb-1 m-4">
    <table class="table table-bordered">
      <tr>
        <th class="table-dark" style="width: 200px;">ユーザーID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th class="table-dark">名前</th>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="table-dark">フリガナ</th>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th class="table-dark">ニックネーム</th>
        <td><%= @customer.nickname %></td>
      </tr>
      <tr>
        <th class="table-dark">自己紹介</th>
        <td><%= @customer.introduction %></td>
      </tr>
      <tr>
        <th class="table-dark">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th class="table-dark">会員ステータス</th>
        <% if @customer.is_active == true %>
          <td><p>有効</p></td>
        <% elsif %>
          <td><p class="text-danger">退会</p></td>
        <% end %>
      </tr>
    </table>
    <div>
      <%= link_to "ユーザー情報編集", edit_admin_customer_path(@customer), class: "btn btn-lg btn-outline-info" %>
    </div>
  </div>

  <div class="row ml-3 mr-5 mt-5 mb-3">
    <h2>投稿一覧</h2>
  </div>
  <div class="row ml-3 mr-3">
    <% @games.each do |game| %>
      <div class="col-md-4">
        <div class="card border-dark bg-light m-1">
          <div class="card-body">
            <p class="card-title">タイトル：<%= game.game_title %></p>
            <p class="card-text"><%= "#{game.post_comments.count} コメント" %></p>
            <%= link_to "内容を見る", admin_game_path(game.id), class: "btn btn-lg btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
